<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action='/quotes' method='POST'>
        Your name: <input type="text" name="name"><br>
        Your Quote: <input type="text" name="quote"><br>
        <input type="submit" value="Add my Quote!">
        
    </form>
</body>
</html>