<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
  <button [routerLink]="['/']" class="btn btn-primary">Home</button>
  <button [routerLink]="['/seattle']" class="btn btn-primary">Seattle WA</button>
  <button [routerLink]="['/sanjose']" class="btn btn-primary">San Jose CA</button>
  <button [routerLink]="['/burbank']" class="btn btn-primary">Burbank CA</button>
  <button [routerLink]="['/dallas']" class="btn btn-primary">Dallas, TX</button>
  <button [routerLink]="['/washingtondc']" class="btn btn-primary">Washington D.C.</button>
  <button [routerLink]="['/chicago']" class="btn btn-primary">Chicago IL</button>
  <router-outlet></router-outlet>
</div>



